<div class="row">
  <div class ="col-md-3">
  <nb-card>
      <nb-card-header>
          <i class="ios-happy"></i>
          <span class="title">Total User</span>
        </nb-card-header>
        <nb-card-body>
          <div class="info">
            <div class="period">
              <div class="caption">Jun 1 - Jun 30</div>
              <div class="label">
                <span class="currency"> </span>300
              </div>
            </div>
           
          </div>
         </nb-card-body>
  </nb-card>
</div>
<div class ="col-md-3">
    <nb-card>
        <nb-card-header>
            <i class="ios-happy"></i>
            <span class="title">Total Devices</span>
          </nb-card-header>
          <nb-card-body>
            <div class="info">
              <div class="period">
                <div class="caption">Jun 1 - Jun 30</div>
                <div class="label">
                  <span class="currency"> </span>300
                </div>
              </div>
             
            </div>
           </nb-card-body>
    </nb-card>
  </div>
 </div>
